@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #444444;
  background-color: #fbfbf2;
  line-height: 1.5;
  min-height: 100dvh;
  word-break: break-word;
  display: grid;
  grid-template-areas: "header header header header" "...... lists active ......" "preferences-bar preferences-bar preferences-bar preferences-bar";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr minmax(100px, 300px) minmax(250px, 600px) 1fr;
  align-items: start; /* Aligns grid items to the start of their rows; overrides the default 'stretch' behavior */
  column-gap: 20px;
}
@media screen and (max-width: 55em) {
  body {
    grid-template-areas: "header header header header" "lists lists lists lists" "active active active active" "preferences-bar preferences-bar preferences-bar preferences-bar";
    grid-template-rows: auto auto 1fr auto;
  }
}
@media screen and (max-width: 40em) {
  body {
    grid-template-areas: "header" "lists" "active" "preferences-bar";
    grid-template-columns: 1fr;
  }
}

body[data-theme=dark] {
  color: #d5d5d5;
  background-color: #141a21;
}
body[data-theme=dark] .title {
  color: #ced4da;
  background-color: #111827;
  box-shadow: rgba(70, 130, 180, 0.1) 0px 5px, rgba(70, 130, 180, 0.08) 0px 10px, rgba(70, 130, 180, 0.06) 0px 15px, rgba(70, 130, 180, 0.04) 0px 20px, rgba(70, 130, 180, 0.02) 0px 25px;
}
body[data-theme=dark] .all-tasks {
  box-shadow: rgba(235, 235, 235, 0.02) 0px 1px 3px 0px, rgba(255, 255, 255, 0.15) 0px 0px 0px 2px;
}
body[data-theme=dark] .all-tasks .task-list-title {
  box-shadow: rgba(255, 255, 255, 0.13) 0px 3px 1px 0px;
}
body[data-theme=dark] .all-tasks .empty-state.empty-state-lists .empty-state-lists-message {
  color: #f97316;
}
body[data-theme=dark] .all-tasks .task-list .list-item.active-list {
  text-shadow: rgba(245, 245, 245, 0.75) 0 0 1px;
  border-bottom-color: rgba(16, 185, 129, 0.7);
  border-top-color: rgba(16, 185, 129, 0.7);
}
body[data-theme=dark] .all-tasks .task-list .list-item form[data-rename-list-form] input {
  background-color: #011011;
  color: #f8f9fa;
  border-bottom-color: rgba(16, 185, 129, 0.7);
}
body[data-theme=dark] .all-tasks .new-task-list-creator form input[type=text].new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  font-size: inherit;
  letter-spacing: 1px;
  outline: none;
  opacity: 0.8;
  transition: opacity 350ms ease-in;
  order: 1;
}
body[data-theme=dark] .all-tasks .new-task-list-creator form input[type=text].new:focus {
  opacity: 1;
}
body[data-theme=dark] .all-tasks .new-task-list-creator form input[type=text].new:focus::placeholder {
  opacity: 0.4;
}
body[data-theme=dark] .todo-list {
  background: #011011;
  color: #e9ecef;
  box-shadow: rgba(255, 255, 255, 0.07) 0px 2px 2px;
}
body[data-theme=dark] .todo-list .todo-header {
  background-color: #1e2a35;
  box-shadow: rgba(255, 245, 244, 0.3) 0px 0px 0px 2px, rgba(255, 245, 244, 0.35) 0px 4px 0px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
body[data-theme=dark] .todo-list .todo-body .empty-state.empty-state-tasks .empty-state-tasks-message {
  color: #f97316;
}
body[data-theme=dark] .todo-list .todo-body .tasks .task [type=checkbox]:checked + label {
  opacity: 0.8;
}
body[data-theme=dark] .todo-list .todo-body .new-task-creator form input[type=text].new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  font-size: inherit;
  letter-spacing: 1px;
  outline: none;
  opacity: 0.8;
  transition: opacity 350ms ease-in;
  order: 1;
}
body[data-theme=dark] .todo-list .todo-body .new-task-creator form input[type=text].new:focus {
  opacity: 1;
}
body[data-theme=dark] .todo-list .todo-body .new-task-creator form input[type=text].new:focus::placeholder {
  opacity: 0.4;
}
body[data-theme=dark] .todo-list .todo-body .delete-stuff .btn.delete {
  font-size: 0.875rem;
  color: #495057;
  font-weight: 700;
  letter-spacing: 0.75px;
  opacity: 0.75;
  transition: color 200ms, opacity 200ms;
  color: #f8f9fa;
}
body[data-theme=dark] .todo-list .todo-body .delete-stuff .btn.delete:hover {
  opacity: 1;
  color: #e74c3c;
}
body[data-theme=dark] .preferences-bar {
  background-color: #1e2a35;
  border-top: 2px solid rgba(128, 128, 128, 0.2);
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
}
body[data-theme=dark] .preferences-bar button {
  color: #000000;
  background-color: #f8f9fa;
}

.title {
  grid-area: header;
  background-color: rgba(70, 143, 175, 0.9);
  font-family: "Poppins", serif;
  font-size: calc(4vw + 1.875rem);
  font-weight: 700;
  color: #fff8d9;
  text-align: center;
  letter-spacing: 1px;
  margin: -0.15em 0 1em;
  box-shadow: rgba(255, 183, 120, 0.3) 0px 5px, rgba(255, 183, 120, 0.2) 0px 10px, rgba(255, 183, 120, 0.15) 0px 15px, rgba(255, 183, 120, 0.1) 0px 20px, rgba(255, 183, 120, 0.05) 0px 25px;
}
@media screen and (max-width: 55em) {
  .title {
    font-size: calc(5vw + 1.25rem);
    margin-bottom: 0.75em;
  }
}
@media screen and (max-width: 40em) {
  .title {
    font-size: calc(5vw + 0.9375rem);
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 30em) {
  .title {
    font-size: calc(3vw + 1.25rem);
    margin-top: 0;
    margin-bottom: 1.2em;
  }
}

.all-tasks {
  grid-area: lists;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 2px;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 55em) {
  .all-tasks {
    margin: 10px 10px 20px;
  }
}
.all-tasks .task-list-title {
  font-size: 1.75rem;
  font-weight: 700;
  box-shadow: rgba(17, 17, 26, 0.08) 0px 3px 1px 0px;
  margin-bottom: 10px;
}
@media screen and (max-width: 30em) {
  .all-tasks .task-list-title {
    font-size: 1.4125rem;
  }
}
.all-tasks .empty-state {
  font-weight: 900;
  opacity: 0.8;
}
.all-tasks .empty-state.empty-state-lists {
  padding: 5px;
  margin: 30px auto 10px;
}
.all-tasks .empty-state.empty-state-lists .empty-state-lists-message {
  color: #f97316;
}
.all-tasks .task-list {
  font-size: 1rem;
  list-style: none;
  padding-left: 0.5em;
}
.all-tasks .task-list .list-item {
  margin: 10px auto;
}
.all-tasks .task-list .list-item .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}
.all-tasks .task-list .list-item .list .list-name,
.all-tasks .task-list .list-item .list .rename-list-text {
  cursor: pointer;
}
.all-tasks .task-list .list-item .list .list-name {
  font-weight: 500;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.all-tasks .task-list .list-item .list .list-name:hover {
  opacity: 0.8;
}
.all-tasks .task-list .list-item .list .rename-list-text {
  display: none;
  opacity: 0.9;
}
.all-tasks .task-list .list-item .list .rename-list-text:hover {
  opacity: 0.7;
}
.all-tasks .task-list .list-item.active-list {
  font-weight: 700;
  text-shadow: slategray 0 0 1px;
  border-bottom: 2px solid rgba(70, 143, 175, 0.7);
  border-top: 2px solid rgba(70, 143, 175, 0.7);
  border-radius: 5px;
}
.all-tasks .task-list .list-item.active-list .list {
  padding: 10px 0px;
  line-height: 1.3;
}
.all-tasks .task-list .list-item.active-list .list .rename-list-text {
  display: flex;
  justify-content: flex-end;
  width: 130px;
  font-size: 13px;
  font-weight: 600;
}
@media screen and (max-width: 30em) {
  .all-tasks .task-list .list-item.active-list .list .rename-list-text {
    display: none;
  }
}
.all-tasks .task-list .list-item form[data-rename-list-form] input {
  background-color: #dee2e6;
  color: #343a40;
  border: none;
  border-bottom: 3px solid rgba(70, 143, 175, 0.7);
  border-radius: 4px;
  width: 100%;
  margin: 10px auto;
  padding: 5px;
}
.all-tasks .task-list .list-item form[data-rename-list-form] input:focus {
  outline: none;
}
.all-tasks .new-task-list-creator form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.all-tasks .new-task-list-creator form input[type=text].new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  font-size: inherit;
  letter-spacing: 1px;
  outline: none;
  opacity: 0.6;
  transition: opacity 350ms ease-in;
  order: 1;
}
.all-tasks .new-task-list-creator form input[type=text].new:focus {
  opacity: 1;
}
.all-tasks .new-task-list-creator form input[type=text].new:focus::placeholder {
  opacity: 0.4;
}
.all-tasks .new-task-list-creator form input[type=text].new.list {
  font-size: 1rem;
}
.all-tasks .new-task-list-creator form .btn {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  font-family: "Nunito", sans-serif;
  margin-right: 0.25em;
  transition: opacity 160ms ease-in;
}
.all-tasks .new-task-list-creator form .btn:hover {
  opacity: 0.7;
}
.all-tasks .new-task-list-creator form .btn.create {
  font-size: 1.75rem;
  font-weight: 900;
}

.todo-list {
  grid-area: active;
  background: #fff8d9;
  color: #444444;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px;
}
@media screen and (max-width: 55em) {
  .todo-list {
    margin: 0 10px;
  }
}
.todo-list .todo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: rgba(6, 24, 44, 0.3) 0px 0px 0px 2px, rgba(6, 24, 44, 0.35) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
@media screen and (max-width: 30em) {
  .todo-list .todo-header {
    padding: 1rem;
  }
}
.todo-list .todo-header .list-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 1em 0 0;
}
@media screen and (max-width: 40em) {
  .todo-list .todo-header .list-title {
    font-size: 1.4125rem;
  }
}
.todo-list .todo-header .task-count {
  font-size: 0.925rem;
  text-align: right;
}
.todo-list .todo-body {
  padding: 2rem;
  position: relative;
}
@media screen and (max-width: 40em) {
  .todo-list .todo-body {
    padding: 1rem;
  }
}
.todo-list .todo-body .empty-state {
  font-weight: 900;
  opacity: 0.8;
}
.todo-list .todo-body .empty-state.empty-state-tasks {
  padding: 5px;
  margin: 5px auto 15px;
}
@media screen and (max-width: 40em) {
  .todo-list .todo-body .empty-state.empty-state-tasks {
    margin: 10px auto;
  }
}
.todo-list .todo-body .empty-state.empty-state-tasks .empty-state-tasks-message {
  color: #f97316;
}
.todo-list .todo-body .tasks .task {
  position: relative;
  margin-bottom: 1.5em;
}
.todo-list .todo-body .tasks .task:hover .checkbox {
  transform: scale(1.1);
  color: #18b3a8;
}
.todo-list .todo-body .tasks .task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -13px;
  height: 1px;
  background: currentColor;
  opacity: 0.16;
}
.todo-list .todo-body .tasks .task label {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.todo-list .todo-body .tasks .task [type=checkbox] {
  opacity: 0;
  position: absolute;
}
.todo-list .todo-body .tasks .task [type=checkbox]:focus + label .checkbox {
  transform: scale(1.1);
  color: #18b3a8;
}
.todo-list .todo-body .tasks .task [type=checkbox]:checked + label .checkbox {
  background: #18b3a8;
  border-color: #18b3a8;
  box-shadow: inset 0 0 0 2px #ffffff;
}
.todo-list .todo-body .tasks .task [type=checkbox]:checked + label {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
.todo-list .todo-body .new-task-creator form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.todo-list .todo-body .new-task-creator form input[type=text].new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  font-size: inherit;
  letter-spacing: 1px;
  outline: none;
  opacity: 0.6;
  transition: opacity 350ms ease-in;
  order: 1;
}
.todo-list .todo-body .new-task-creator form input[type=text].new:focus {
  opacity: 1;
}
.todo-list .todo-body .new-task-creator form input[type=text].new:focus::placeholder {
  opacity: 0.4;
}
.todo-list .todo-body .new-task-creator form input[type=text].new.task {
  font-size: 1rem;
}
.todo-list .todo-body .new-task-creator form .btn {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  font-family: "Nunito", sans-serif;
  margin-right: 0.25em;
  transition: opacity 160ms ease-in;
}
.todo-list .todo-body .new-task-creator form .btn:hover {
  opacity: 0.7;
}
.todo-list .todo-body .new-task-creator form .btn.create {
  font-size: 1.75rem;
  font-weight: 900;
  color: #18b3a8;
}
.todo-list .todo-body .delete-stuff {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
}
.todo-list .todo-body .delete-stuff .btn {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  font-family: "Nunito", sans-serif;
  margin-right: 0.25em;
  transition: opacity 160ms ease-in;
}
.todo-list .todo-body .delete-stuff .btn:hover {
  opacity: 0.7;
}
.todo-list .todo-body .delete-stuff .btn.delete {
  font-size: 0.875rem;
  color: #495057;
  font-weight: 700;
  letter-spacing: 0.75px;
  opacity: 0.75;
  transition: color 200ms, opacity 200ms;
}
.todo-list .todo-body .delete-stuff .btn.delete:hover {
  opacity: 1;
  color: #e74c3c;
}

.checkbox {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  min-width: 0.75em;
  margin-right: 0.75em;
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

.preferences-bar {
  grid-area: preferences-bar;
  background-color: #f2f2f2;
  margin-top: 12vh;
  height: 10vh;
  border-top: 2px solid rgba(6, 24, 44, 0.25);
  border-bottom: 2px solid rgba(6, 24, 44, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.preferences-bar button {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  font-family: "Nunito", sans-serif;
  margin-right: 0.25em;
  transition: opacity 160ms ease-in;
  color: #f8f9fa;
  margin: 0 30px;
  padding: 5px 8px;
  background-color: #343a40;
  border-radius: 4px;
  font-size: 19px;
}
.preferences-bar button:hover {
  opacity: 0.7;
}

.fs-900 {
  font-size: 3.75rem;
}

.fs-800 {
  font-size: 3rem;
}

.fs-700 {
  font-size: 1.75rem;
}

.fs-600 {
  font-size: 1.4125rem;
}

.fs-500 {
  font-size: 1.125rem;
}

.fs-400 {
  font-size: 1rem;
}

.fs-300 {
  font-size: 0.925rem;
}

.fs-200 {
  font-size: 0.875rem;
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.ff-base {
  font-family: "Nunito", sans-serif;
}

.ff-accent {
  font-family: "Poppins", serif;
}

/*# sourceMappingURL=main.css.map */
