@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #333333;
  background-color: #fbfbf2;
  line-height: 1.5;
  min-height: 100dvh;
  word-break: break-word;
  display: grid;
  grid-template-areas: "header header header header" "...... lists active ......" "preferences-bar preferences-bar preferences-bar preferences-bar";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr minmax(100px, 300px) minmax(250px, 600px) 1fr;
  align-items: start; /* Aligns grid items to the start of their rows; overrides the default 'stretch' behavior */
  column-gap: 20px;
}
@media screen and (max-width: 55em) {
  body {
    grid-template-areas: "header header header header" "lists lists lists lists" "active active active active" "preferences-bar preferences-bar preferences-bar preferences-bar";
    grid-template-rows: auto auto 1fr auto;
  }
}
@media screen and (max-width: 40em) {
  body {
    grid-template-areas: "header" "lists" "active" "preferences-bar";
    grid-template-columns: 1fr;
  }
}

body[data-theme=dark] {
  color: #fdfdfd;
  background-color: #141a21;
}
body[data-theme=dark] .title {
  color: #dee2e6;
}
body[data-theme=dark] .all-tasks .new-task-list-creator form input[type=text].new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  font-size: inherit;
  letter-spacing: 1px;
  outline: none;
  opacity: 0.8;
  transition: opacity 350ms ease-in;
  order: 1;
}
body[data-theme=dark] .all-tasks .new-task-list-creator form input[type=text].new:focus {
  opacity: 1;
}
body[data-theme=dark] .all-tasks .new-task-list-creator form input[type=text].new:focus::placeholder {
  opacity: 0.4;
}
body[data-theme=dark] .todo-list {
  background: #343a40;
  color: #e9ecef;
  box-shadow: rgba(255, 255, 255, 0.07) 0px 3px 8px;
}
body[data-theme=dark] .todo-list .todo-header {
  background-color: #212529;
}
body[data-theme=dark] .todo-list .todo-body .tasks .task [type=checkbox]:checked + label {
  opacity: 0.8;
}
body[data-theme=dark] .todo-list .todo-body .new-task-creator form input[type=text].new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  font-size: inherit;
  letter-spacing: 1px;
  outline: none;
  opacity: 0.8;
  transition: opacity 350ms ease-in;
  order: 1;
}
body[data-theme=dark] .todo-list .todo-body .new-task-creator form input[type=text].new:focus {
  opacity: 1;
}
body[data-theme=dark] .todo-list .todo-body .new-task-creator form input[type=text].new:focus::placeholder {
  opacity: 0.4;
}
body[data-theme=dark] .todo-list .todo-body .delete-stuff .btn.delete {
  font-size: 0.875rem;
  color: #495057;
  font-weight: 700;
  letter-spacing: 0.75px;
  opacity: 0.75;
  transition: color 200ms, opacity 200ms;
  color: #f8f9fa;
}
body[data-theme=dark] .todo-list .todo-body .delete-stuff .btn.delete:hover {
  opacity: 1;
  color: #e74c3c;
}
body[data-theme=dark] .preferences-bar {
  background-color: #0f1217;
}
body[data-theme=dark] .preferences-bar button {
  color: #000000;
  background-color: #f8f9fa;
}

.title {
  grid-area: header;
  font-family: "Poppins", serif;
  font-size: calc(7vw + 1.25rem);
  font-weight: 700;
  color: rgba(85, 85, 85, 0.3);
  text-align: center;
  letter-spacing: 1px;
  margin: -0.2em 0 0.5em;
}
@media screen and (max-width: 40em) {
  .title {
    font-size: calc(6vw + 1.25rem);
  }
}
@media screen and (max-width: 30em) {
  .title {
    font-size: calc(5vw + 1.25rem);
  }
}

.all-tasks {
  grid-area: lists;
}
@media screen and (max-width: 55em) {
  .all-tasks {
    margin: 0 15px 20px;
  }
}
.all-tasks .task-list-title {
  font-size: 1.75rem;
  font-weight: 700;
}
.all-tasks .task-list {
  font-size: 1rem;
  line-height: 2;
  list-style: circle;
  padding-left: 1.1em;
}
.all-tasks .task-list .list-name {
  cursor: pointer;
}
.all-tasks .task-list .list-name:hover {
  opacity: 0.66;
}
.all-tasks .task-list .list-name.active-list {
  font-weight: 700;
}
.all-tasks .new-task-list-creator form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.all-tasks .new-task-list-creator form input[type=text].new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  font-size: inherit;
  letter-spacing: 1px;
  outline: none;
  opacity: 0.6;
  transition: opacity 350ms ease-in;
  order: 1;
}
.all-tasks .new-task-list-creator form input[type=text].new:focus {
  opacity: 1;
}
.all-tasks .new-task-list-creator form input[type=text].new:focus::placeholder {
  opacity: 0.4;
}
.all-tasks .new-task-list-creator form input[type=text].new.list {
  font-size: 1rem;
}
.all-tasks .new-task-list-creator form .btn {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  font-family: "Nunito", sans-serif;
  margin-right: 0.25em;
  transition: opacity 160ms ease-in;
}
.all-tasks .new-task-list-creator form .btn:hover {
  opacity: 0.7;
}
.all-tasks .new-task-list-creator form .btn.create {
  font-size: 1.75rem;
  font-weight: 900;
}

.todo-list {
  grid-area: active;
  background: #fff8d9;
  color: #333333;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (max-width: 55em) {
  .todo-list {
    margin: 0 10px;
  }
}
.todo-list .todo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #afafa9;
  padding: 2rem;
}
@media screen and (max-width: 30em) {
  .todo-list .todo-header {
    padding: 1rem;
  }
}
.todo-list .todo-header .list-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 1em 0 0;
}
.todo-list .todo-header .task-count {
  font-size: 0.925rem;
}
.todo-list .todo-body {
  padding: 2rem;
  position: relative;
}
@media screen and (max-width: 40em) {
  .todo-list .todo-body {
    padding: 1rem;
  }
}
.todo-list .todo-body .tasks .task {
  position: relative;
  margin-bottom: 1.5em;
}
.todo-list .todo-body .tasks .task:hover .checkbox {
  transform: scale(1.1);
  color: #18b3a8;
}
.todo-list .todo-body .tasks .task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -13px;
  height: 1px;
  background: currentColor;
  opacity: 0.16;
}
.todo-list .todo-body .tasks .task label {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.todo-list .todo-body .tasks .task [type=checkbox] {
  opacity: 0;
  position: absolute;
}
.todo-list .todo-body .tasks .task [type=checkbox]:focus + label .checkbox {
  transform: scale(1.1);
  color: #18b3a8;
}
.todo-list .todo-body .tasks .task [type=checkbox]:checked + label .checkbox {
  background: #18b3a8;
  border-color: #18b3a8;
  box-shadow: inset 0 0 0 2px #ffffff;
}
.todo-list .todo-body .tasks .task [type=checkbox]:checked + label {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
.todo-list .todo-body .new-task-creator form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.todo-list .todo-body .new-task-creator form input[type=text].new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  font-size: inherit;
  letter-spacing: 1px;
  outline: none;
  opacity: 0.6;
  transition: opacity 350ms ease-in;
  order: 1;
}
.todo-list .todo-body .new-task-creator form input[type=text].new:focus {
  opacity: 1;
}
.todo-list .todo-body .new-task-creator form input[type=text].new:focus::placeholder {
  opacity: 0.4;
}
.todo-list .todo-body .new-task-creator form input[type=text].new.task {
  font-size: 1rem;
}
.todo-list .todo-body .new-task-creator form .btn {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  font-family: "Nunito", sans-serif;
  margin-right: 0.25em;
  transition: opacity 160ms ease-in;
}
.todo-list .todo-body .new-task-creator form .btn:hover {
  opacity: 0.7;
}
.todo-list .todo-body .new-task-creator form .btn.create {
  font-size: 1.75rem;
  font-weight: 900;
  color: #18b3a8;
}
.todo-list .todo-body .delete-stuff {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
}
.todo-list .todo-body .delete-stuff .btn {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  font-family: "Nunito", sans-serif;
  margin-right: 0.25em;
  transition: opacity 160ms ease-in;
}
.todo-list .todo-body .delete-stuff .btn:hover {
  opacity: 0.7;
}
.todo-list .todo-body .delete-stuff .btn.delete {
  font-size: 0.875rem;
  color: #495057;
  font-weight: 700;
  letter-spacing: 0.75px;
  opacity: 0.75;
  transition: color 200ms, opacity 200ms;
}
.todo-list .todo-body .delete-stuff .btn.delete:hover {
  opacity: 1;
  color: #e74c3c;
}

.checkbox {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  min-width: 0.75em;
  margin-right: 0.75em;
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

.preferences-bar {
  grid-area: preferences-bar;
  background-color: #afafa9;
  margin-top: 12vh;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.preferences-bar button {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  font-family: "Nunito", sans-serif;
  margin-right: 0.25em;
  transition: opacity 160ms ease-in;
  color: #f8f9fa;
  margin: 0 30px;
  padding: 5px 8px;
  background-color: #343a40;
  border-radius: 4px;
  font-size: 19px;
}
.preferences-bar button:hover {
  opacity: 0.7;
}

.fs-900 {
  font-size: 3.75rem;
}

.fs-800 {
  font-size: 3rem;
}

.fs-700 {
  font-size: 1.75rem;
}

.fs-600 {
  font-size: 1.3125rem;
}

.fs-500 {
  font-size: 1.125rem;
}

.fs-400 {
  font-size: 1rem;
}

.fs-300 {
  font-size: 0.925rem;
}

.fs-200 {
  font-size: 0.875rem;
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.ff-base {
  font-family: "Nunito", sans-serif;
}

.ff-accent {
  font-family: "Poppins", serif;
}

/*# sourceMappingURL=main.css.map */
