// Light Theme Colors
$color-primary: #18b3a8;
$color-primary-light: #21ecdf;
$color-primary-dark: #0f9b91;

$color-secondary: #e74c3c;
$color-secondary-light: #f1948a;
$color-secondary-dark: #c0392b;

$color-white: #ffffff;
$color-black: #000000;

$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;

$color-accent-1: #9b59b6;
$color-accent-2: #f1c40f;

$color-background: #f5f5f5;
$color-text-primary: #444444;
$color-text-secondary: #555555;
$color-text-light: #888888;

$color-background-muted: #f2f2f2;
$color-muted-gold: #fff8d9;
$color-night-black: #111827;
$color-mint-green: #10b981;
$color-vivid-orange: #f97316;
$color-steel-blue: #468faf;
$color-very-dark-teal: #011011;
$color-slate-gray: #6c6f83;
$color-mauve-taupe: #9a8c98;
$color-alabaster: #fafafa;

// Dark Theme Colors
$color-background-dark-theme: #000000;
$color-text-primary-dark-theme: #d5d5d5;

$color-background-muted-dark-theme: #1e2a35;
$color-charcoal-black: #181a1b;
$color-deep-midnight: #10101b;
$color-deep-navy: #111d4a;
$color-prussian-blue: #003049;
