// Light Theme Colors
$color-primary: #18b3a8;
$color-primary-light: #21ecdf;
$color-primary-dark: #0f9b91;

$color-secondary: #e74c3c;
$color-secondary-light: #f1948a;
$color-secondary-dark: #c0392b;

$color-white: #ffffff;
$color-black: #000000;

$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;

$color-accent-1: #9b59b6;
$color-accent-2: #f1c40f;

$color-background: #fbfbf2;
$color-text-primary: #333333;
$color-text-secondary: #555555;
$color-text-light: #888888;

// Dark Theme Colors
$color-background-dark-theme: #0d1116;
$color-text-primary-dark-theme: #fdfdfd;
