@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "breakpoints" as *;
@use "tokens" as *;

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map.get($breakpoints, $size);
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  } @else if meta.type-of($size) == number {
    @if math.is-unitless($size) {
      @error "when using a number with @mq() make sure to include a unit";
    } @else {
      @media screen and (max-width: $size) {
        @content;
      }
    }
  } @else {
    @error "the keyword #{$size} is not in the $breakpoints map";
  }
}

@mixin layout(
  $display: flex,
  $flex-direction: row,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin add-item-input(
  $opacity: 0.6,
  $focus-opacity: 1,
  $focus-placeholder-opacity: 0.4,
  $transition-duration: 350ms,
  $order: 0
) {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  font-size: inherit;
  letter-spacing: 1px;
  outline: none;
  opacity: $opacity;

  transition: opacity $transition-duration ease-in;
  order: $order;

  &:focus {
    opacity: $focus-opacity;

    &::placeholder {
      opacity: $focus-placeholder-opacity;
    }
  }
}

@mixin btn {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  font-family: $button-font-family;

  margin-right: 0.25em;
  transition: opacity 160ms ease-in;

  &:hover {
    opacity: 0.7;
  }
}

@mixin btn-create {
  font-size: $create-button-font-size;
  font-weight: $create-button-font-weight;
}

@mixin btn-delete {
  font-size: $button-font-size;
  color: $todo-list-delete-buttons-color;
  font-weight: $todo-list-delete-buttons-font-weight;
  letter-spacing: 0.75px;
  opacity: 0.75;
  transition: color 200ms, opacity 200ms;

  &:hover {
    opacity: 1;
    color: $todo-list-delete-buttons-hover-color;
  }
}

@mixin checkbox-hover-focus {
  transform: scale(1.1);
  color: $checkbox-color-primary;
}

@mixin empty-state {
  font-weight: $empty-state-font-weight;
  opacity: $empty-state-opacity;
}

@mixin rename-form-input {
  border: none;
  border-bottom: 3px solid;
  border-radius: 4px;
  width: 100%;
  margin: 10px auto;
  padding: 7px 5px;

  &:focus {
    outline: none;
  }
}
