@use "tokens" as *;

@mixin flex-layout(
  $flex-direction: row,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin add-item-input(
  $opacity: 0.6,
  $focus-opacity: 1,
  $focus-placeholder-opacity: 0.4,
  $transition-duration: 350ms,
  $order: 0
) {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  font-size: inherit;
  outline: none;
  opacity: $opacity;

  transition: opacity $transition-duration ease-in;
  order: $order;

  &:focus {
    opacity: $focus-opacity;

    &::placeholder {
      opacity: $focus-placeholder-opacity;
    }
  }
}

@mixin btn {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  font-family: $button-font-family;

  margin-right: 0.25em;
  transition: opacity 160ms ease-in;

  &:hover {
    opacity: 0.7;
  }
}

@mixin btn-create {
  font-size: $create-button-font-size;
  font-weight: $create-button-font-weight;
}

@mixin btn-delete {
  font-size: $button-font-size;
  font-weight: $button-font-weight;
}

@mixin checkbox-hover-focus {
  transform: scale(1.1);
  color: $checkbox-color-primary;
}
