@use "colors" as *;
@use "typography" as *;

// $active-theme: $light;
// $enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-text-primary;
$color-background-default: $color-background;
$color-text-interactive-default: $color-text-primary;
$color-text-interactive-hover: $color-text-secondary;
$color-text-warning: $color-vivid-orange;

// Body
$body-font-family: $font-family-base;
$body-font-size: $font-size-500;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$heading-font-family: $font-family-accent;
$heading-color-default: $color-text-secondary;
$heading-font-weight: $font-weight-bold;
$heading-line-height: 1.1;

$heading-1-font-size: $font-size-900;
$heading-1-color-default: $heading-color-default;
$heading-2-font-size: $font-size-800;
$heading-2-color-default: $heading-color-default;
$heading-3-font-size: $font-size-700;
$heading-3-color-default: $heading-color-default;

// Body - Dark theme
$body-text-color-dark-theme: $color-text-primary-dark-theme;
$body-background-color-dark-theme: $color-background-dark-theme;

$heading-color-default-dark-theme: $color-gray-400;

// Buttons
$button-font-family: $body-font-family;
$button-font-size: $font-size-200;
$button-font-weight: $font-weight-semi-bold;

$create-button-font-size: $font-size-700;
$create-button-font-weight: $font-weight-black;
$create-button-color: $color-primary;

// Onboarding modal component
$overlay-background-color: rgba(0, 0, 0, 0.6);

$onboarding-modal-background-color: $body-background-color;
$onboarding-modal-text-color: $body-text-color;
$onboarding-modal-transition-duration: 200ms;
$onboarding-modal-font-weight: $font-weight-medium-bold;
$onboarding-modal-vertical-padding: 25px;
$onboarding-modal-horizontal-padding: 35px;

$onboarding-modal-vertical-padding-medium-screens: 20px;
$onboarding-modal-horizontal-padding-medium-screens: 25px;

$onboarding-modal-vertical-padding-small-screens: 15px;
$onboarding-modal-horizontal-padding-small-screens: 15px;

$onboarding-modal-vertical-padding-extra-small-screens: 10px;
$onboarding-modal-horizontal-padding-extra-small-screens: 10px;

$onboarding-modal-border-width: 3px;
$onboarding-modal-border-style: solid;
$onboarding-modal-border-color: $color-gray-500;
$onboarding-modal-border: $onboarding-modal-border-width
  $onboarding-modal-border-style $onboarding-modal-border-color;

$onboarding-modal-max-width: 80%;
$onboarding-modal-max-width-medium-screens: 85%;
$onboarding-modal-max-width-small-screens: 90%;
$onboarding-modal-max-width-extra-small-screens: 95%;

$onboarding-modal-title-font-size: $font-size-700;

$onboarding-modal-description-font-size: $font-size-600;

$onboarding-modal-list-item-strong-font-weight: $font-weight-black;

$onboarding-modal-list-border-color: $color-steel-blue;

$onboarding-modal-button-start-background-color: $color-vivid-orange;

// Onboarding modal component - Dark theme
$overlay-background-color-dark-theme: rgba(0, 0, 0, 0.75);

$onboarding-modal-background-color-dark-theme: $body-background-color-dark-theme;
$onboarding-modal-text-color-dark-theme: $body-text-color-dark-theme;

$onboarding-modal-list-border-color-dark-theme: $color-steel-blue;

$onboarding-modal-button-start-background-color-dark-theme: $color-mint-green;

// Title component
$title-background-color: $body-background-color;
$title-text-color: $color-slate-gray;
$title-font-size-large-screens: calc(4vw + ($heading-1-font-size / 2));
$title-font-size-medium-screens: calc(5vw + ($heading-1-font-size / 3));
$title-font-size-small-screens: calc(5vw + ($heading-1-font-size / 4));
$title-font-size-extra-small-screens: calc(3vw + ($heading-1-font-size / 3));
$title-box-shadow: rgba($color-mauve-taupe, 0.1) 0px 5px,
  rgba($color-mauve-taupe, 0.1) 0px 10px,
  rgba($color-mauve-taupe, 0.05) 0px 15px,
  rgba($color-mauve-taupe, 0.08) 0px 20px,
  rgba($color-mauve-taupe, 0.03) 0px 25px;

// Title component - Dark theme
$title-background-color-dark-theme: $body-background-color-dark-theme;
$title-box-shadow-dark-theme: rgba($color-jungle-green, 0.1) 0px 5px,
  rgba($color-jungle-green, 0.1) 0px 10px,
  rgba($color-jungle-green, 0.05) 0px 15px,
  rgba($color-jungle-green, 0.08) 0px 20px,
  rgba($color-jungle-green, 0.03) 0px 25px;

// All tasks component
$all-tasks-background-color: $color-alabaster;
$all-tasks-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 2px;

$all-tasks-task-list-title-box-shadow: rgba(17, 17, 26, 0.08) 0px 3px 1px 0px;

$all-tasks-font-size: $font-size-400;
$all-tasks-active-font-weight: $font-weight-bold;
$all-tasks-active-border-color: rgba($color-pastel-green, 0.9);
$all-tasks-active-border: 2px solid $all-tasks-active-border-color;
$all-tasks-active-background-color: rgba($color-muted-gold, 0.16);

$all-tasks-title-font-size: $font-size-700;
$all-tasks-title-font-weight: $font-weight-bold;

$all-tasks-title-font-size-extra-small-screens: $font-size-600;

$all-tasks-active-text-shadow: slategray 0 0 1px;

$all-tasks-rename-list-input-background-color: #ffebc6;
$all-tasks-rename-list-input-text-color: $color-gray-800;

// All tasks component - Dark theme
$all-tasks-background-color-dark-theme: $color-deep-midnight;
$all-tasks-box-shadow-dark-theme: rgba(235, 235, 235, 0.02) 0px 1px 3px 0px,
  rgba(255, 255, 255, 0.15) 0px 0px 0px 2px;

$all-tasks-task-list-title-box-shadow-dark-theme: rgba(255, 255, 255, 0.13) 0px
  3px 1px 0px;
$all-tasks-active-text-shadow-dark-theme: rgba(245, 245, 245, 0.75) 0 0 1px;

$all-tasks-active-border-color-dark-theme: rgba($color-jungle-green, 0.7);
$all-tasks-active-background-color-dark-theme: rgba($color-purple-indigo, 0.08);

$all-tasks-rename-list-input-background-color-dark-theme: $color-deep-navy;
$all-tasks-rename-list-input-text-color-dark-theme: $color-gray-100;

// To-do list component
$todo-list-font-size: $font-size-400;
$todo-list-background-color: rgba($color-muted-gold, 0.6);
$todo-list-text-color: $body-text-color;

$todo-list-spacer: 2rem;
$todo-list-spacer-extra-small-screens: 1rem;

$todo-list-header-background-color: $color-background-muted;
$todo-list-title-font-size: $font-size-700;
$todo-list-title-font-size-small-screens: $font-size-600;
$todo-list-title-font-size-extra-small-screens: $font-size-500;
$todo-list-title-font-weight: $font-weight-bold;
$todo-list-title-margin: 0 1em 0 0;
$todo-list-task-count-font-size: $font-size-300;
$todo-list-task-count-font-size-extra-small-screens: $font-size-200;

$todo-list-delete-buttons-color: $color-gray-700;
$todo-list-delete-buttons-hover-color: $color-secondary;
$todo-list-delete-buttons-font-weight: $font-weight-bold;

$todo-list-rename-task-input-background-color: rgba(orange, 0.2);
$todo-list-rename-task-input-text-color: $color-gray-700;

// To-do list component - Dark theme
$todo-list-background-color-dark-theme: rgba($color-very-dark-teal, 0.9);
$todo-list-text-color-dark-theme: $color-gray-200;

$todo-list-header-background-color-dark-theme: $color-deep-midnight;

$todo-list-delete-buttons-color-dark-theme: $color-gray-100;

$todo-list-rename-task-input-background-color-dark-theme: $color-prussian-blue;
$todo-list-rename-task-input-text-color-dark-theme: $color-gray-100;

// Checkbox component
$checkbox-size: 1.05em;
$checkbox-color-primary: $color-primary;
$checkbox-color-secondary: $color-white;

$checkbox-size-medium-screens: 1.1em;
$checkbox-size-extra-small-screens: 1.15em;

// Preferences bar component
$preferences-bar-background-color: $color-background-muted;
$preferences-bar-margin-top: 12vh;
$preferences-bar-height: 10vh;
$preferences-bar-button-color: $color-gray-100;
$preferences-bar-button-background-color: $color-slate-gray;

$preferences-bar-border-color: rgba(6, 24, 44, 0.25);
$preferences-bar-border: 2px solid $preferences-bar-border-color;

// Preferences bar component - Dark theme
$preferences-bar-background-color-dark-theme: $color-deep-midnight;
$preferences-bar-button-color-dark-theme: $color-gray-900;
$preferences-bar-button-background-color-dark-theme: $color-gray-400;

$preferences-bar-border-color-dark-theme: rgba(gray, 0.2);
$preferences-bar-border-dark-theme: 2px solid
  $preferences-bar-border-color-dark-theme;

// Empty state elements
$empty-state-font-weight: $font-weight-black;
$empty-state-opacity: 0.8;
$empty-state-text-color: $color-text-warning;

// Empty state elements - Dark theme
$empty-state-text-color-dark-theme: $color-aquamarine;
