@use "colors" as *;
@use "typography" as *;

// $active-theme: $light;
// $enable-media-query-dark-mode: false;

// Body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-primary;
$body-background-color: $color-background;

$heading-1-font-family: $font-family-accent;
$heading-1-font-size: $font-size-900;
$heading-1-color-default: $color-text-secondary;
$heading-1-font-weight: $font-weight-bold;
$heading-1-line-height: 1.1;

// Contextual
$color-text-default: $color-text-primary;
$color-background-default: $color-background;
$color-text-interactive-default: $color-text-primary;
$color-text-interactive-hover: $color-text-secondary;
