@use "colors" as *;
@use "typography" as *;

// $active-theme: $light;
// $enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-text-primary;
$color-background-default: $color-background;
$color-text-interactive-default: $color-text-primary;
$color-text-interactive-hover: $color-text-secondary;

// Body
$body-font-family: $font-family-base;
$body-font-size: $font-size-500;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$heading-font-family: $font-family-accent;
$heading-color-default: $color-text-secondary;
$heading-font-weight: $font-weight-bold;
$heading-line-height: 1.1;

$heading-1-font-size: $font-size-900;
$heading-1-color-default: $heading-color-default;
$heading-2-font-size: $font-size-800;
$heading-2-color-default: $heading-color-default;
$heading-3-font-size: $font-size-700;
$heading-3-color-default: $heading-color-default;

// Body - Dark theme
$body-text-color-dark-theme: $color-text-primary-dark-theme;
$body-background-color-dark-theme: $color-background-dark-theme;

$heading-color-default-dark-theme: $color-gray-300;

// Buttons
$button-font-family: $body-font-family;
$button-font-size: $font-size-200;
$button-font-weight: $font-weight-semi-bold;

$create-button-font-size: $font-size-700;
$create-button-font-weight: $font-weight-black;
$create-button-color: $color-primary;

// Title component
$title-font-size-large-screens: calc(7vw + ($heading-1-font-size / 3));
$title-font-size-small-screens: calc(6vw + ($heading-1-font-size / 3));
$title-font-size-extra-small-screens: calc(3vw + ($heading-1-font-size / 3));

$title-box-shadow-top-color: rgba(0, 0, 0, 0.15);
$title-box-shadow-bottom-color: rgba(0, 0, 0, 0.04);

$title-box-shadow: $title-box-shadow-top-color 0px 5px 25px -5px,
  $title-box-shadow-bottom-color 0px 10px 10px -5px;

// Title component - Dark theme
$title-box-shadow-top-color-dark-theme: rgba(255, 255, 255, 0.15);
$title-box-shadow-bottom-color-dark-theme: rgba(255, 255, 255, 0.04);

$title-box-shadow-dark-theme: $title-box-shadow-top-color-dark-theme 0px 5px
    10px -5px,
  $title-box-shadow-bottom-color-dark-theme 0px 10px 10px -5px;

// All tasks component
$all-tasks-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 2px;

$all-tasks-task-list-title-box-shadow: rgba(17, 17, 26, 0.04) 0px 3px 1px 0px;

$all-tasks-font-size: $font-size-400;
$all-tasks-active-font-weight: $font-weight-bold;

$all-tasks-title-font-size: $font-size-700;
$all-tasks-title-font-weight: $font-weight-bold;

$all-tasks-title-font-size-extra-small-screens: $font-size-600;

$all-tasks-active-text-shadow: slategray 0 0 2px;

// All tasks component - Dark theme
$all-tasks-box-shadow-dark-theme: rgba(235, 235, 235, 0.02) 0px 1px 3px 0px,
  rgba(255, 255, 255, 0.15) 0px 0px 0px 2px;

$all-tasks-task-list-title-box-shadow-dark-theme: rgba(255, 255, 255, 0.04) 0px
  3px 1px 0px;
$all-tasks-active-text-shadow-dark-theme: rgba(245, 245, 245, 0.75) 0 0 2px;

// To-do list component
$todo-list-font-size: $font-size-400;
$todo-list-background-color: $color-muted-gold;
$todo-list-text-color: $body-text-color;

$todo-list-spacer: 2rem;
$todo-list-spacer-extra-small-screens: 1rem;

$todo-list-header-background-color: $color-background-muted;
$todo-list-title-font-size: $font-size-700;
$todo-list-title-font-size-small-screens: $font-size-600;
$todo-list-title-font-weight: $font-weight-bold;
$todo-list-title-margin: 0 1em 0 0;
$todo-list-task-count-font-size: $font-size-300;

$todo-list-delete-buttons-color: $color-gray-700;
$todo-list-delete-buttons-hover-color: $color-secondary;
$todo-list-delete-buttons-font-weight: $font-weight-bold;

// To-do list component - Dark theme
$todo-list-background-color-dark-theme: $color-gray-800;
$todo-list-text-color-dark-theme: $color-gray-200;

$todo-list-header-background-color-dark-theme: $color-gray-900;

$todo-list-delete-buttons-color-dark-theme: $color-gray-100;

// Checkbox component
$checkbox-size: 0.75em;
$checkbox-color-primary: $color-primary;
$checkbox-color-secondary: $color-white;

// Preferences bar component
$preferences-bar-background-color: $color-background-muted;
$preferences-bar-margin-top: 12vh;
$preferences-bar-height: 10vh;
$preferences-bar-button-color: $color-gray-100;
$preferences-bar-button-background-color: $color-gray-800;

// Preferences bar component - Dark theme
$preferences-bar-background-color-dark-theme: $color-background-muted-dark-theme;
$preferences-bar-button-color-dark-theme: $color-black;
$preferences-bar-button-background-color-dark-theme: $color-gray-100;

// Empty state elements
$empty-state-border-block: 2px dashed gainsboro;
$empty-state-font-weight: $font-weight-medium-bold;
$empty-state-opacity: 0.65;

// Empty state elements - Dark theme
$empty-state-border-block-color-dark-theme: rgba(220, 220, 220, 0.178);
