@use "../abstracts/" as *;

.fs-900 {
  font-size: $font-size-900;
}

.fs-800 {
  font-size: $font-size-800;
}

.fs-700 {
  font-size: $font-size-700;
}

.fs-600 {
  font-size: $font-size-600;
}

.fs-500 {
  font-size: $font-size-500;
}

.fs-400 {
  font-size: $font-size-400;
}

.fs-300 {
  font-size: $font-size-300;
}

.fs-200 {
  font-size: $font-size-200;
}
