@use "../abstracts/" as *;

.all-tasks {
  grid-area: lists;
  padding: 10px;
  border-radius: 5px;
  box-shadow: $all-tasks-box-shadow;
  letter-spacing: 0.5px;

  @include mq(medium) {
    margin: 10px 10px 20px;
  }

  .task-list-title {
    font-size: $all-tasks-title-font-size;
    font-weight: $all-tasks-title-font-weight;
    box-shadow: $all-tasks-task-list-title-box-shadow;
    margin-bottom: 10px;

    @include mq(extra-small) {
      font-size: $all-tasks-title-font-size-extra-small-screens;
    }
  }

  .empty-state {
    @include empty-state;

    &.empty-state-lists {
      padding: 5px;
      margin: 30px auto 10px;

      .empty-state-lists-message {
        color: $empty-state-text-color;
      }
    }
  }

  .task-list {
    font-size: $all-tasks-font-size;
    list-style: none;
    padding-left: 0.5em;

    .list-row {
      margin: 10px auto;

      .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 15px;

        .list-name,
        .rename-list-text {
          cursor: pointer;
        }

        .list-name {
          font-weight: 500;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @include mq(small) {
            white-space: normal;
          }

          &:hover {
            opacity: 0.8;
          }
        }

        .rename-list-text {
          display: none;
          opacity: 0.9;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      &.active-list {
        font-weight: $all-tasks-active-font-weight;
        text-shadow: $all-tasks-active-text-shadow;
        border-bottom: $all-tasks-active-border;
        border-top: $all-tasks-active-border;
        border-radius: 5px;
        background-color: $all-tasks-active-background-color;

        .list {
          padding: 8px 0px;
          line-height: 1.3;

          .rename-list-text {
            display: flex;
            justify-content: flex-end;
            width: 130px;
            font-size: 13px;
            font-weight: 600;

            @include mq(extra-small) {
              display: none;
            }
          }
        }
      }

      form[data-rename-list-form] {
        input[data-rename-list-input] {
          @include rename-form-input;
          background-color: $all-tasks-rename-list-input-background-color;
          color: $all-tasks-rename-list-input-text-color;
          border-color: $all-tasks-active-border-color;
        }
      }
    }
  }

  .new-task-list-creator form {
    @include layout($display: flex, $align-items: center);

    input[type="text"].new {
      @include add-item-input($order: 1);

      &.list {
        font-size: $all-tasks-font-size;
      }
    }

    .btn {
      @include btn;

      &.create {
        @include btn-create;
      }
    }
  }
}
