@use "../abstracts/" as *;

.all-tasks {
  grid-area: lists;

  .task-list-title {
    font-size: $font-size-700;
    font-weight: $font-weight-bold;
  }

  .task-list {
    font-size: $font-size-500;
    line-height: 2;
    list-style: circle;
    padding-left: 1.1em;

    .active-list {
      font-weight: $font-weight-bold;
    }
  }

  form {
    @include add-item-form;

    input[type="text"].new {
      @include add-item-input($order: 1);

      &.list {
        font-size: $font-size-500;
      }
    }

    .btn {
      @include btn;

      &.create {
        @include btn-create;
      }
    }
  }
}
