@use "../abstracts/" as *;

.onboarding-modal {
  background-color: $onboarding-modal-background-color;
  color: $onboarding-modal-text-color;
  font-weight: $onboarding-modal-font-weight;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: $onboarding-modal-transition-duration ease-in-out;
  border: $onboarding-modal-border;
  border-radius: 5px;
  z-index: 10;
  padding: 25px 55px;

  width: 900px;
  max-width: $onboarding-modal-max-width;

  @include mq(medium) {
    max-width: $onboarding-modal-max-width-medium-screens;
  }

  @include mq(small) {
    max-width: $onboarding-modal-max-width-small-screens;
  }

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .onboarding-modal-title {
    font-size: $onboarding-modal-title-font-size;
    padding-bottom: 10px;
  }

  .onboarding-modal-description {
    font-size: $onboarding-modal-description-font-size;
    padding-bottom: 10px;
  }

  .onboarding-modal-list {
    list-style-type: none;
    padding-left: 10px;
    border-left: $onboarding-modal-border;
  }

  .onboarding-modal-list-item {
    & strong {
      font-weight: $onboarding-modal-list-item-strong-font-weight;
    }
  }

  .onboarding-modal-button-start {
    background: none;
    border: none;
    cursor: pointer;

    border: 2px solid $color-gray-700;
    margin-top: 20px;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgba(
      $onboarding-modal-button-start-background-color,
      0.6
    );
    color: $color-gray-800;
    transition: background-color $onboarding-modal-transition-duration;

    &:hover {
      background-color: rgba(
        $onboarding-modal-button-start-background-color,
        1
      );
    }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay-background-color;

  opacity: 0;
  pointer-events: none;
  transition: $onboarding-modal-transition-duration ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
