@use "../abstracts/" as *;

.preferences-bar {
  grid-area: preferences-bar;
  background-color: $preferences-bar-background-color;
  margin-top: $preferences-bar-margin-top;
  height: $preferences-bar-height;
  border-top: $preferences-bar-border;
  border-bottom: $preferences-bar-border;

  @include layout($justify-content: space-between, $align-items: center);

  button {
    @include btn;
    color: $preferences-bar-button-color;
    margin: 0 30px;
    padding: 5px 18px;
    background-color: $preferences-bar-button-background-color;
    border-radius: 4px;
    font-size: 19px;
    font-weight: $font-weight-extra-bold;
    min-width: 85px;
  }
}
