@use "../abstracts/" as *;

.preferences-bar {
  grid-area: preferences-bar;
  background-color: $preferences-bar-background-color;
  margin-top: $preferences-bar-margin-top;
  height: $preferences-bar-height;

  @include layout($justify-content: space-between, $align-items: center);

  button {
    @include btn;
    color: $preferences-bar-button-color;
    margin: 0 30px;
    padding: 10px 20px;
  }
}
