@use "../abstracts/" as *;

.preferences-bar {
  grid-area: preferences-bar;
  background-color: $preferences-bar-background-color;
  margin-top: $preferences-bar-margin-top;
  height: $preferences-bar-height;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  @include layout($justify-content: space-between, $align-items: center);

  button {
    @include btn;
    color: $preferences-bar-button-color;
    margin: 0 30px;
    padding: 5px 8px;
    background-color: $preferences-bar-button-background-color;
    border-radius: 4px;
    font-size: 19px;
  }
}
