@use "../abstracts/" as *;

.title {
  grid-area: header;

  font-family: $heading-font-family;
  font-size: $title-font-size-large-screens;
  font-weight: $heading-font-weight;
  color: rgba($heading-color-default, 0.3);
  text-align: center;
  letter-spacing: 1px;
  margin: -0.2em 0 0.5em;
  box-shadow: $title-box-shadow;

  @include mq(small) {
    font-size: $title-font-size-small-screens;
  }

  @include mq(extra-small) {
    font-size: $title-font-size-extra-small-screens;
    margin-top: 0;
  }

  body[data-theme="dark"] & {
    box-shadow: $title-box-shadow-dark-theme;
  }
}
