@use "../abstracts/" as *;

.todo-list {
  grid-area: active;
  background: $todo-list-background-color;
  color: $todo-list-text-color;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px;

  @include mq(medium) {
    margin: 0 10px;
  }

  .todo-header {
    @include layout(
      $display: flex,
      $justify-content: space-between,
      $align-items: center
    );
    background-color: $todo-list-header-background-color;
    padding: $todo-list-spacer;
    border-radius: 2px;
    box-shadow: rgba(6, 24, 44, 0.3) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.35) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    @include mq(extra-small) {
      padding: $todo-list-spacer-extra-small-screens;
    }

    .list-title {
      font-size: $todo-list-title-font-size;
      font-weight: $todo-list-title-font-weight;
      margin: $todo-list-title-margin;

      @include mq(small) {
        font-size: $todo-list-title-font-size-small-screens;
      }
    }

    .task-count {
      font-size: $todo-list-task-count-font-size;
      text-align: right;
    }
  }

  .todo-body {
    padding: $todo-list-spacer;
    position: relative;

    @include mq(small) {
      padding: calc($todo-list-spacer / 2);
    }

    .empty-state {
      @include empty-state;

      &.empty-state-tasks {
        padding: 5px;
        margin: 5px auto 15px;

        @include mq(small) {
          margin: 10px auto;
        }

        .empty-state-tasks-message {
          color: $empty-state-text-color;
        }
      }
    }

    .tasks {
      .task {
        position: relative;
        margin-bottom: 1.5em;

        &:hover {
          .checkbox {
            @include checkbox-hover-focus;
          }
        }

        &::after {
          content: "";
          position: absolute;
          right: 0;
          left: 0;
          bottom: -13px;
          height: 1px;
          background: currentColor;
          opacity: 0.16;
        }

        label {
          @include layout($display: inline-flex, $align-items: center);
          // The animation was canceled due to the possibility of multi-line input, and text-decoration is being used
          // position: relative;

          // &::after {
          //   content: "";
          //   position: absolute;
          //   left: 1.5em;
          //   right: -0.05em;
          //   top: calc(50% - 0.9px);
          //   height: 2px;
          //   background: currentColor;
          //   transform: scaleX(0);
          //   transform-origin: right;
          //   transition: transform 200ms ease-in-out;
          // }
        }

        [type="checkbox"] {
          opacity: 0; // ensures the checkbox stays selectable!
          position: absolute;

          &:focus + label .checkbox {
            @include checkbox-hover-focus;
          }

          &:checked + label .checkbox {
            background: $checkbox-color-primary;
            border-color: $checkbox-color-primary;
            box-shadow: inset 0 0 0 2px $checkbox-color-secondary;
          }

          &:checked + label {
            opacity: 0.5;
            text-decoration: line-through;
            text-decoration-thickness: 2px;

            &::after {
              // transform: scaleX(1);
              // transform-origin: left;
            }
          }
        }
      }
    }

    .new-task-creator form {
      @include layout($display: flex, $align-items: center);

      input[type="text"].new {
        @include add-item-input($order: 1);

        &.task {
          font-size: $todo-list-font-size;
        }
      }

      .btn {
        @include btn;

        &.create {
          @include btn-create;
          color: $create-button-color;
        }
      }
    }

    .delete-stuff {
      @include layout($display: flex, $justify-content: space-evenly);
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -35px;

      .btn {
        @include btn;

        &.delete {
          @include btn-delete;
        }
      }
    }
  }
}
