@use "../abstracts/" as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
  min-height: 100dvh;
  word-break: break-word;

  display: grid;
  grid-template-areas:
    "header header header header"
    "...... lists active ......"
    "preferences-bar preferences-bar preferences-bar preferences-bar";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr minmax(100px, 300px) minmax(250px, 600px) 1fr;
  align-items: start; /* Aligns grid items to the start of their rows; overrides the default 'stretch' behavior */
  column-gap: 20px;

  @include mq(medium) {
    grid-template-areas:
      "header header header header"
      "lists lists lists lists"
      "active active active active"
      "preferences-bar preferences-bar preferences-bar preferences-bar";
    grid-template-rows: auto auto 1fr auto;
  }

  @include mq(small) {
    grid-template-areas:
      "header"
      "lists"
      "active"
      "preferences-bar";
    grid-template-columns: 1fr;
  }
}
